<div class="container">
  <h1>About Me</h1>
  <div class="about-content">
    <div class="about-text">
      I am a Junior Frontend Developer with experience as a Fullstack Developer.
      My strengths include effective problem-solving and willing to study new
      technologies. At work, I appreciate learning good pracices and
      self-improvement. My hobbies include gym, playing the piano, cooking and
      meetings with friends.
    </div>
    <!-- <div class="about-icons">
      <fa-icon [icon]="codeIcon" class="icon"></fa-icon>
      <fa-icon [icon]="musicIcon" class="icon"></fa-icon>
      <fa-icon [icon]="dumbbellIcon" class="icon"></fa-icon>
      <fa-icon [icon]="beerIcon" class="icon"></fa-icon>
    </div> -->
  </div>
</div>
