<div class="container">
  <app-nav></app-nav>
  <app-intro></app-intro>
  <div class="text">
    <h1>About Me</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa at optio
      molestias sed voluptas asperiores officia aspernatur harum doloremque
      corporis consectetur quis nostrum rerum fuga, ea fugit minima nulla libero
      laborum delectus fugiat sit? Inventore animi aliquam adipisci nobis error
      ut mollitia laborum minima necessitatibus ducimus, recusandae possimus
      dolor qui fugit accusamus. Magnam corrupti quae dolor voluptas. Quo ex
      pariatur fuga reprehenderit saepe illo, quisquam eveniet eius voluptas
      odio itaque alias, harum magnam nostrum? Illum laudantium quasi cupiditate
      porro quis repellat et deserunt iure. Sed consectetur quo tempore nesciunt
      eaque est tempora, quia, temporibus reiciendis commodi maiores aspernatur
      ipsum, earum rerum ad laborum saepe explicabo ratione nulla voluptatum.
      Dolorum officiis similique obcaecati neque accusamus dolores incidunt
      quasi impedit culpa dicta sunt quibusdam, distinctio veritatis sed!
      Placeat quis esse dolores enim repellendus sapiente consequuntur, vitae
      distinctio sint, facilis exercitationem laborum minus, veritatis soluta
      atque impedit ipsum vel cupiditate a ipsam incidunt molestias omnis
      perspiciatis. Illo neque pariatur voluptatibus sit, eaque sapiente. Alias
      inventore maiores, sed quasi laborum dolorum commodi voluptate quas
      tenetur numquam consequuntur dolorem dolores suscipit non quia, nulla sunt
      similique nemo fugiat odit adipisci. Distinctio commodi aperiam
      reprehenderit id adipisci, ad aut veritatis obcaecati soluta quisquam
      exercitationem minus incidunt!
    </p>
  </div>
</div>
