@use "./../../utilities/themes";

nav {
  padding: 2rem 3rem 2rem 3rem;
  position: sticky;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 3rem;
    font-size: 1.75rem;

    li {
      a {
        text-decoration: none;
        color: themes.$muted-purple;
      }

      a:hover {
        color: themes.$purple;
        transition: all 0.3s;
      }
    }

    li:nth-child(2) {
      margin-left: auto;
    }
  }
}
