@use "./app/utilities/themes";

body {
  background-color: themes.$background-gray;
  color: themes.$light;
  padding: 0%;
  margin: 0%;
  font-family: "Nunito", system-ui, "Segoe UI", Roboto;
  min-height: 100svh;
}
